#calls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#calls h4 {
  font-size: 2rem;
  padding: 0.5rem;
  color: rgb(24, 26, 24);
}
