#header {
  color: rgb(22, 22, 22);
  font-size: 5rem;

  display: flex;
  text-align: center;
  flex-direction: column;
}

#heading {
  padding: 1rem;
  margin: 0 0.5rem;
  font-size: 3.2rem;
  margin-bottom: 0.2rem;
}

.area {
  color: green;
  font-weight: bold;
}

.date {
  background: black;
  padding: 0.4rem;
  border-radius: 10px;
  color: chartreuse;
  letter-spacing: 1px;
  text-decoration: underline;
}
